name: Docker Build

on:
  push:
    branches: [main]
    tags: [v*]
  pull_request:
    branches: [main]

jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build Add-on Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./addons/claude-backend/Dockerfile
          push: false
          tags: claude-backend:latest

      - name: Build Backend Docker image (deprecated)
        uses: docker/build-push-action@v4
        with:
          context: ./backend
          push: false
          tags: claude-api:latest
